#detailBanner{
   
    height:400px;
    position:relative;
    overflow: hidden;
    ul{
       width:1380px;
       position:relative;
       li{
           left:-270px;
           top:0;
           position:absolute;
           
       } 
      
    }
     .r{
          display: none;
          cursor: pointer;
          text-align: center;
           line-height: 80px;
           position:absolute;
           right:150px;
           top:180px;
           width: 40px;
           height:80px;
           font-size: 30px;
           background: rgba(100,100,100,.5);
       }
        .l{
            display: none;
            cursor: pointer;
            text-align: center;
            line-height: 80px;
           position:absolute;
           left:184px;
           top:180px;
            width: 40px;
           height:80px;
           font-size: 30px;
           background: rgba(100,100,100,.5);
       }
       .super{
           overflow: hidden;
           position:absolute;
           left:620px;
           bottom:20px;
           .cur{background:#aaa;}
            i{
                display:inline-block;
                width:15px;
                height:15px;
                background: white;
                border-radius: 100%;
                float:left;
               margin:0 10px;
               
            }
       }
       
}
#main{
    width:1090px;
    padding:10px 0;
   
    margin-left:150px;
    .dtitle{
         border-bottom:2px solid #000;
     h3{
         width:130px;
         height:40px;
         background: #000;
         font:20px/40px "";
         color:white;
         text-align: center;
         display: inline-block;
         margin-right: 10px;
        }
        span{
            font-size: 14px;
            
        }
        span:nth-child(3){margin-left:760px;}
        
    }
    #dady{
        margin:10px 0 0 0;
  ul{background:#f6f6f6;border:0}
        li{
            margin:5px 6px 0 0;
            border:0;
            background: white;
            a{
                color:red;
                margin-left:20px;
                
            }
           
            span:nth-child(7){
                    display: inline-block;
                    width:70px;
                    height:20px;
                    background:red;
                    color:white;
                    margin-left:17px;
                    text-align: center;
                    cursor: pointer;
            }
        
    }
    }    
}
